.about
    .about__left
        .about__user-picture-container
            img(src="img/user.jpg").about__user-picture

    .about__right
        h1.title Обо мне
        .about__description
            p Меня зовут Костя. Проживаю на Юге Башкортостана, с появлением интернета, с головой увлёкся этой темой, и теперь уже почти живу Он-Лайн.
            p С недавних пор (уже года два), это уже не просто увлечение, но и нормальный заработок для меня и моей семьи, на этом конечно не собираюсь останавливаться, а буду стараться добиться ещё больших результатов!
            p Интернет сообщество очень интересно.
        .about__buttons
            a(href="#").button.button--red
                span.button__text Скачать резюме