.career
    .career__left
        .career__picture-container
            img(src="img/career.jpg").career__picture
    .career__right
        ul.career__list
            li.career__item
                .career__job ООО «Звезды путешествий»
                .career__position Системный Администратор
                .career__date 2015 - по настоящее время
                .career__year 2016
            li.career__item.active
                .career__job ООО «Звезды путешествий»
                .career__position Системный Администратор
                .career__date 2015 - по настоящее время
                .career__year 2016
            li.career__item
                .career__job ООО «Звезды путешествий»
                .career__position Системный Администратор
                .career__date 2015 - по настоящее время
                .career__year 2016
            li.career__item
                .career__job ООО «Звезды путешествий»
                .career__position Системный Администратор
                .career__date 2015 - по настоящее время
                .career__year 2016