header.header
    .container
        .header__left
            .user
                .user__avatar
                    a(href="#").user__link
                        .user__pic-container
                            img.user__pic(src="img/ava.jpg")
                        span.user__name Денис Брославский
        .header__right
            .contacts
                a(href="#").contacts__link Мои контакты
            .contacts__container
                ul.contacts__list
                    li.contacts__item
                        a(href="#").contacts__item-link.contacts__item-link--email brosla196@gmail.com
                    li.contacts__item
                        a(href="#").contacts__item-link.contacts__item-link--tel +7 980 253 79 05
                    li.contacts__item
                        a(href="#").contacts__item-link.contacts__item-link--skype bro_deni