.portfolio
    ul.portfolio__list
        li.portfolio__item
            .portfolio__item-inner
                .portfolio__item-top
                    a(href="#").portfolio__img-link
                        img(src="img/portfolio/port-1.jpg").portfolio__img
                .portfolio__item-bottom
                    a(href="#").portfolio__link
                        span.portfolio__item-name Deals App
                        span.portfolio__item-descr Продажа одежды
                        span.portfolio__item-type.portfolio__item-type--app Приложение
        li.portfolio__item
            .portfolio__item-inner
                .portfolio__item-top
                    a(href="#").portfolio__img-link
                        img(src="img/portfolio/port-2.jpg").portfolio__img
                .portfolio__item-bottom
                    a(href="#").portfolio__link
                        span.portfolio__item-name Dream-scapes
                        span.portfolio__item-descr Лагуна Люфтганза
                        span.portfolio__item-type Лендинг
        li.portfolio__item
            .portfolio__item-inner
                .portfolio__item-top
                    a(href="#").portfolio__img-link
                        img(src="img/portfolio/port-3.jpg").portfolio__img
                .portfolio__item-bottom
                    a(href="#").portfolio__link
                        span.portfolio__item-name Creative Studio
                        span.portfolio__item-descr Танцевальная студия
                        span.portfolio__item-type Корпоративный сайт
        li.portfolio__item
            .portfolio__item-inner
                .portfolio__item-top
                    a(href="#").portfolio__img-link
                        img(src="img/portfolio/port-4.jpg").portfolio__img
                .portfolio__item-bottom
                    a(href="#").portfolio__link
                        span.portfolio__item-name Studio Frog
                        span.portfolio__item-descr Мебельный магазин
                        span.portfolio__item-type Лендинг
        li.portfolio__item
            .portfolio__item-inner
                .portfolio__item-top
                    a(href="#").portfolio__img-link
                        img(src="img/portfolio/port-5.jpg").portfolio__img
                .portfolio__item-bottom
                    a(href="#").portfolio__link
                        span.portfolio__item-name Carbonara
                        span.portfolio__item-descr Итальянский ресторан
                        span.portfolio__item-type Лендинг
