aside.sidebar
    nav.nav
        ul.nav__list
            li.nav__item
                a(href="#").nav__link.nav__link--about
                    span.nav__text Обо мне
            li.nav__item.active
                a(href="#").nav__link.nav__link--career
                    span.nav__text Карьерный путь
            li.nav__item
                a(href="#").nav__link.nav__link--portfolio
                    span.nav__text Портфолио