.header {
  background: #fff;
  padding: 10px 0;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2);
  margin-bottom: 27px;

  & .container {
    @util clearfix;
  }

  &__left,
  &__right {
    float: left;
    width: 50%;
  }

  &__right {
    text-align: right;
    padding-top: 20px;
  }

}


.user {

  &__pic-container {
    @apply --inlineBlock;
    @util size(60px);
    border-radius: 50%;
    overflow: hidden;
  }

  &__pic {
    display: block;
    max-width: 100%;
  }

  &__link {
    display: block;
    cursor: pointer;
    color: var(--colorBlack);
  }

  &__name {
    @apply --inlineBlock;
  }

  &__name {
    margin-left: 20px;
  }
}


.contacts {
  &__container {
    display: none;
  }

  &__link {
    @apply --inlineBlock;

    color: var(--colorBlue);
    font-weight: 700;
    text-decoration: none;
    background: url('img/decor/dot-bg.png') 0 bottom repeat-x;
    transition: .2s;

    &:hover {
      color: var(--colorRed);
      background: url('img/decor/dot-bg-red.png') 0 bottom repeat-x;
    }
  }
}