.main-section {
  margin-bottom: 106px;

  & .container {
    @util clearfix;
  }
}

.sidebar {
  float: left;
  width: 220px;
}

.page-content {
  float: right;
  width: 700px;
}

.nav {

  /*&__item {*/

  /*& .active {*/

  /*.nav__link {*/
  /*border-color: var(--colorBlue);*/
  /*.nav__text {*/
  /*color: var(--colorBlue);*/
  /*}*/
  /*}*/
  /*}*/
  /*}*/

  &__link {
    width: 100%;
    height: 100%;
    text-align: right;
    display: block;
    text-decoration: none;
    border-right: 6px solid transparent;
    padding: 9px 22px 8px 0;
    color: var(--colorBlack);
    transition: .2s;

    &--about {
      &:before {
        font-family: 'FontAwesome';
        content: "\f21b";
      }
    }

    &--career {
      &:before {
        font-family: 'FontAwesome';
        content: "\f135";
      }
    }

    &--portfolio {
      &:before {
        font-family: 'FontAwesome';
        content: "\f0b1";
      }
    }

    &:hover {
      color: var(--colorBlue);
    }
  }

  &__text {
    margin-left: 5px;
    font-weight: 700;
  }
}

.nav__item.active .nav__link {
  border-color: var(--colorBlue);
}

.nav__item.active .nav__link {
  color: var(--colorBlue);
}

.about {
  @util clearfix;

  &__left {
    float: left;
    width: 300px;
  }

  &__right {
    float: right;
    width: 380px;
  }

  &__user-picture-container {
    @util size(220px);
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
  }

  &__user-picture {
    display: block;
    max-width: 100%;
  }

  &__description {

    margin-bottom: 45px;

    & p {
      line-height: 26px;
      color: var(--colorLightGray);
      margin-bottom: 6px;
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  &__buttons {
    text-align: right;
  }

}

.title {
  font-size: 35px;
  font-weight: 500;
  color: var(--colorBlack);
  margin: 0 0 19px 0;
  line-height: 1;

  &--career {
    margin-bottom: 26px;
  }
}

.career {

  &__left {
    float: left;
    width: 240px;
  }

  &__right {
    float: right;
    width: 460px;
  }

  &__picture-container {
    @util size(220px);
    overflow: hidden;
    border-radius: 8px;
  }

  &__picture {
    display: block;
    /*max-width: 100%;*/
    max-height: 100%;
  }

  &__list {
  }

  &__item {
    text-align: right;
    margin-bottom: 20px;
    
    &:first-child {
      & .career__item-inner {
        &:before {
          display: none;
        }
      }
    }

    &:last-child {
      & .career__item-inner {
        &:after {
          display: none;
        }
      }
    }
  }

  &__item-inner {
    position: relative;
    width: 380px;
    padding: 15px 20px 13px 20px;
    text-align: left;
    display: inline-block;
    background: #fff;
    border-radius: 10px;
    box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.2);
    transition: .2s;
    cursor: pointer;

    &:before,
    &:after {
      position: absolute;
      content: '';
      display: block;
      width: 1px;
      background-color: #ddd;
      left: -21px;
    }

    &:before {
      top: 0;
      bottom: 50%;
      margin-bottom: 10px;
    }

    &:after {
      top: 50%;
      bottom: -22px;
      margin-top: 10px;
    }
    
    &:hover {
      background: var(--colorBlue);

      & .career__date,
      & .career__position,
      & .career__job {
        color: #fff;
      }

      & .career__year {
        color: var(--colorBlue);

        &:after {
          box-shadow: 0 0 0 5px #94e0f2;
        }
      }

    }
  }

  &__job {
    font-size: 21px;
    font-weight: 400;
    color: var(--colorGray);
    transition: .2s;
  }

  &__position,
  &__date {
    font-size: 18px;
    font-weight: 300;
    color: var(--colorGray);
    transition: .2s;
  }

  &__year {
    position: absolute;
    right: 100%;
    top: 50%;
    line-height: 30px;
    margin-top: -15px;
    margin-right: 35px;
    transition: .2s;

    font-weight: 300;
    font-size: 14px;
    color: var(--colorGray);

    &:after {
      content: '';
      position: absolute;
      display: block;
      @util size(10px);
      background: var(--colorBlue);
      border-radius: 50%;
      transition: .2s;

      top: 10px;
      right: -20px;
    }
  }
}
