.main-section {
  margin-bottom: 106px;

  & .container {
    @util clearfix;
  }
}

.sidebar {
  float: left;
  width: 220px;
}

.page-content {
  float: right;
  width: 700px;
}

.nav {

  /*&__item {*/

  /*& .active {*/

  /*.nav__link {*/
  /*border-color: var(--colorBlue);*/
  /*.nav__text {*/
  /*color: var(--colorBlue);*/
  /*}*/
  /*}*/
  /*}*/
  /*}*/

  &__link {
    width: 100%;
    height: 100%;
    text-align: right;
    display: block;
    text-decoration: none;
    border-right: 6px solid transparent;
    padding: 9px 22px 8px 0;
    color: var(--colorBlack);
    transition: .2s;

    &--about {
      &:before {
        font-family: 'FontAwesome';
        content: "\f21b";
      }
    }

    &--career {
      &:before {
        font-family: 'FontAwesome';
        content: "\f135";
      }
    }

    &--portfolio {
      &:before {
        font-family: 'FontAwesome';
        content: "\f0b1";
      }
    }

    &:hover {
      color: var(--colorBlue);
    }
  }

  &__text {
    margin-left: 5px;
    font-weight: 700;
  }
}

.nav__item.active .nav__link {
  border-color: var(--colorBlue);
}

.nav__item.active .nav__link {
  color: var(--colorBlue);
}

.about {
  @util clearfix;

  &__left {
    float: left;
    width: 300px;
  }

  &__right {
    float: right;
    width: 380px;
  }

  &__user-picture-container {
    @util size(220px);
    overflow: hidden;
    border-radius: 50%;
    margin: auto;
  }

  &__user-picture {
    display: block;
    max-width: 100%;
  }

  &__description {

    margin-bottom: 45px;

    & p {
      line-height: 26px;
      color: var(--colorLightGray);
      margin-bottom: 6px;
      margin-top: 0;

      &:last-child {
        margin-bottom: 0;
      }
    }
  }
  
  &__buttons {
    text-align: right;
  }

}

.title {
  font-size: 35px;
  font-weight: 500;
  color: var(--colorBlack);
  margin: 0 0 19px 0;
  line-height: 1;
}