.wrapper--flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.start {
  width: 300px;
  padding-top: 50px;
  background: #fff;
  border-radius: 10px;
  border: 1px solid #e4e4e4;
  position: relative;

  &__avatar-container {
    position: absolute;
    top: 0;
    left: 0;
    @util size(140px);
    border-radius: 50%;
    border: 2px solid #c6c6c6;
    overflow: hidden;

    transform: translate(-50%, -50%);

    @media (width < 767px) {
      @util size(100px);
      transform: translate(100%, -50%);
    }
  }

  &__avatar {
    display: block;
    max-height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }

  &__top-block {
    padding-bottom: 25px;

    @media (width < 767px) {
      padding-bottom: 10px;
    }
  }

  &__name {
    margin: 0 auto;
    max-width: 150px;
    font-family: 'Open Sans Semibold', sans-serif;
    font-size: 21px;
    line-height: 28px;
    color: var(--colorBlack);
    text-align: center;
  }
  
  &__bottom-block {
    padding: 25px 10px;
    text-align: right;
    @util border-bottom-radius(10px);
    background-color: var(--colorGreen);

    @media (width < 767px) {
      padding: 10px;
    }
  }
}