:root {
    --containerWidth: 940px;
    --colorBlack: #414141;
    --colorGray: #727272;
    --colorBlue: #11dac5;
    --colorRed: #e85f61;
    --colorBody: #f6f6f6;
    --colorLightGray: #646464;
    --colorGreen: #11dac5;

    --inlineBlock: {
        display: inline-block;
        vertical-align: middle;
    };
}

