doctype html
html(lang="en")
    include includes/head.pug
    body
        .wrapper
            include includes/header
            .main-section
                .container
                   include includes/sidebar.pug
                   main.page-content
                        h1.title Карьерный путь
                        include includes/career.pug
        include includes/footer