doctype html
html(lang="en")
    include includes/head
        title= 'Hello!'
    body
        .wrapper.wrapper--flex
            .start
                .start__avatar-container
                    img(src="img/my-ava-400.jpg").start__avatar
                .start__top-block
                    .start__name Брославский Денис
                .start__bottom-block
                    a(href="about.html").button.button--green Перейти на страницу