doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        title= 'About Me'
        meta(http-equiv="X-UA-Compatible" content="IE=edge, chrome=1")
        meta(name="viewport" content="width=960")
        link(rel="stylesheet" href="style.css")
    body
        .wrapper
            header.header
                .container
                    .header__left
                        .user
                            .user__avatar
                                a(href="#").user__link
                                    .user__pic-container
                                        img.user__pic(src="img/ava.jpg")
                                    span.user__name Денис Брославский
                    .header__right
                        .contacts
                            a(href="#").contacts__link Мои контакты
                        .contacts__container
                            ul.contacts__list
                                li.contacts__item
                                    a(href="#").contacts__link
                                        i.contacts__icon
                                        span.contacts__text brosla196@gmail.com
                                li.contacts__item
                                    a(href="#").contacts__link
                                        i.contacts__icon
                                        span.contacts__text +7 980 253 79 05
                                li.contacts__item
                                    a(href="#").contacts__link
                                        i.contacts__icon
                                        span.contacts__text bro_deni
            .main-section
                .container
                    aside.sidebar
                        nav.nav
                            ul.nav__list
                                li.nav__item.active
                                    a(href="#").nav__link.nav__link--about
                                        span.nav__text Обо мне
                                li.nav__item
                                    a(href="#").nav__link.nav__link--career
                                        span.nav__text Карьерный путь
                                li.nav__item
                                    a(href="#").nav__link.nav__link--portfolio
                                        span.nav__text Портфолио
                    main.page-content
                        .about
                            .about__left
                                .about__user-picture-container
                                    img(src="img/user.jpg").about__user-picture

                            .about__right
                                h1.title Обо мне
                                .about__description
                                    p Меня зовут Костя. Проживаю на Юге Башкортостана, с появлением интернета, с головой увлёкся этой темой, и теперь уже почти живу Он-Лайн.
                                    p С недавних пор (уже года два), это уже не просто увлечение, но и нормальный заработок для меня и моей семьи, на этом конечно не собираюсь останавливаться, а буду стараться добиться ещё больших результатов!
                                    p Интернет сообщество очень интересно.
                                .about__buttons
                                    a(href="#").button.button--red
                                        span.button__text Скачать резюме
        footer.footer
            .container
                .footer__left
                    .copyrights © Дизайн сайта был разработан в школе LoftSchool
                .footer__right
                    .socials
                        ul.socials__list
                            li.social__item
                                a(href="#").social__link.social__link--fb facebook
                            li.social__item
                                a(href="#").social__link.social__link--vk vkontakte
                            li.social__item
                                a(href="#").social__link.social__link--tw twitter
